@import 'primeng/resources/themes/aura-light-cyan/theme.css';
@import 'primeng/resources/primeng.css';
@import 'primeicons/primeicons.css';

@layer reset, primeng, tailwind-utilities;

@layer reset {
  .p-button {
    padding: 0.3rem 0.8rem;
  }
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

html {
  font-size: 16px;
}

body {
  font-family: var(--font-family);
  font-weight: normal;
  background: var(--surface-ground);
  color: var(--text-color);
  padding: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
